{% extends 'Layout.html.twig' %}

{% block content %}
    {% include 'FlashMessages.html.twig' %}
	<a href="/submit">Submit</a>
	<ol>
		{% for submission in submissions %}
			<li>
				<a href="{{ submission.url|e('html_attr') }}">{{ submission.title }}</a>
                <small>submitted by {{ submission.author }}</small>
			</li>
		{% endfor %}
	</ol>
{% endblock %}
